<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Registration</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup"
            (ngSubmit)="registerProcess()">
            <mat-form-field>
                <input matInput placeholder="Enter First Name" formControlName="first_name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Last Name" formControlName="last_name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Gender" formControlName="gender">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Phone number" formControlName="number">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Enter password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit">Register</button>
            <br>
            <button mat-raised-button type="button" routerLink="/login">Login</button>
        </form>

    </mat-card>
</div>